*.DS_Store
*pycache*

# Huge BEAST files
*.trees
*failed*.log
*stopped*.log
beast_files/*/*.log
iq-tree/*/*.log
*beast_state*

# QSub files
*.pbs.e*
*.pbs.o*

# Word files
*.doc*

# Zip archives
*.zip
*.ipynb_checkpoints*
*tmp*
*.ops
*jumpTimes.txt
*baltic*
slurm*.out
phylogeography/*/HBV-*_updated_geo_priors/HBV-*_updated_geo_priors_completeHistory_posterior_run*.txt
*.jumpHistory.log*
